<div class="relative z-0 w-full mb-5 group">
  <label :for="for" class="order-first block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >{{ label }}</label
  >
  <input
    v-if="filedType==='input'"
    v-model="modelValue"
    :value="internalValue"
    @input="handleInput"
    :id="id"
    :type="type"
    :name="name"
    :required="required"
    :placeholder="placeholder"
    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
    required

  />
  <textarea
    v-else="filedType==='textarea'"
    :v-model="modelValue"
    :id="id"
    :value="internalValue"
    @input="handleInput"
    rows="4"
    class="order-last block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    :placeholder="placeholder"
  ></textarea>
</div>
